<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 fw-bold">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur numquam, adipisci, soluta quas optio maxime quis et iste amet fugit, molestias provident ducimus odio. Exercitationem labore quisquam eius libero voluptates!
                Accusamus in placeat deleniti aliquam deserunt eos quia cum corrupti sunt quis dignissimos recusandae, dolorem nam ut beatae voluptate officia necessitatibus vitae commodi reiciendis laboriosam! Maiores laboriosam officia labore voluptatum.
                Asperiores eligendi non aut illo aliquam quisquam doloribus omnis, sequi dolorem repellat, tenetur obcaecati atque blanditiis praesentium inventore voluptates explicabo. Temporibus, magni tempore corrupti voluptas possimus blanditiis dolorem nostrum nihil.
                Doloremque aperiam nihil eaque vero repellat nobis delectus mollitia repudiandae sed aliquid? At iusto illum fugiat iure, facilis est nemo consequuntur. Ut perferendis facere hic nemo tempora sint voluptatibus maxime?
                Odit facilis praesentium, velit vitae natus culpa illum saepe eius voluptates, aliquid totam doloremque maiores quibusdam explicabo quam sint officiis quos! Molestiae ex blanditiis aliquam voluptatum magni nesciunt culpa nemo?</p>
            </section>
        </main>
</body>

</html>